@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    height: 10vh;
    display: flex;
    color: whitesmoke;
    align-items: center;
    /* me centra todos los elementos en el medio, siendo que display=flex lo que alinea son los elementos enel "eje Y" */
    justify-content: space-between;
    /* el espacio es maximo entre los elementos, pero sin espacio en bordes */
    background-color: rgb(23, 40, 195);
    padding: 2vh 6vw;
    text-align: center;
    /*padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;*/
}

header nav a {
    display: flex;
    color: white;
    text-decoration: none;
    /* le saco el subrayado a los hipervinculos que ya viene por defecto en el elemento a del css original que no se ve, porque es por defecto justamnente:letra en azul y subrayado */
    background-color: rgb(61, 113, 245);
    border-radius: 15% / 45%;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 3vh;
    transition: background-color 1s;
}

header nav a:hover {
    background-color: rgb(204, 250, 250);
    color: black;
}

nav {
    display: flex;
    gap: 30px;
}

.btn-menu {
    display: none;
}

#mainPlanes {


    /* height: 80vh; */
    background-color: #8916B1;
    border: 1px solid transparent;
    margin: auto;


}

#mainPlanes h1 {

    font-size: 55px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    padding: 1vw;
}

#contenedorPlanes {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.planes {

    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.img_planes_caja1 img {
    width: 375px;
    padding-top: 10px;
    border-radius: 30px 25px 30px 25px;

}

.img_planes_caja2 img {
    width: 290px;
    padding-top: 10px;
    border-radius: 30px 25px 30px 25px;
}

.img_planes_caja3 img {
    width: 500px;
    padding-top: 10px;
    border-radius: 30px 25px 30px 25px;
}

.img_planes_caja4 img {
    width: 345px;
    padding-top: 10px;
    border-radius: 30px 25px 30px 25px;
}

.formPlanes {
    display: flex;
    justify-content: space-around;
    padding: 5vh;

}

.formPlanes h2 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 44px;
    width: 11%;
    padding-top: 100px;
    letter-spacing: 12px;
    color: #ffff;

}

.formUsuarios {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
    
    width: 60%;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: #f1f1f1;
    font-size: 30px;
    border-radius: 25px;
  
    color: rgb(7, 0, 0);
}

.inputContainer {

    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1vh;

}
.inputContainer input, select{
    font-size: 30px;
    border: none;
    border-bottom: 1px solid rgb(40, 39, 39);
}
.btn-respuesta{
    
    width: 30%;
    background-color: #00DBDE;
    color: #f1f1f1;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 0px black;
    
    }
    
    .btn-respuesta:hover{
        transition: 0.8s ease-in-out;
        background-color: whitesmoke;
font-size: 35px;
border: 1px solid rgb(8, 2, 2);
border-radius: 10px;
color: rgb(8, 2, 2);
font-family: 'Montserrat', sans-serif;
    }

footer {
    height: 10vh;
    display: flex;
    color: white;
    align-items: center;
    /* me centra todos los elementos en el medio, siendo que display=flex lo que alinea son los elementos enel "eje Y" */
    justify-content: space-between;
    /* el espacio es maximo entre los elementos, pero sin espacio en bordes */
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;

}



#footer_redes {
    display: flex;
    gap: 30px;
    /* margin: 10px 20px; */
}

.bi-figma {
    height: 2vh;
    width: 2.5vw;
    margin: 0;
    background-color: red;
}

footer a {
    background-color: green;
    height: 2.5vh;
    width: 2.5vw;

}

.contenedorUsuarios {
    display: flex;

    justify-content: center;
    gap: 30px
}

.user-card {
font-size: 25px;
    background-color: rgb(40, 39, 39);
    color: white;
    padding: 10px;
    width: 500px;
    border-radius: 25px;
}

.user-card h2{
    text-align: center;
}