@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Kanit&family=Shantell+Sans:ital,wght@1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif; 
}
/* CABECERA */
header{
    height: 10vh;
    display: flex;
    color: whitesmoke;
    align-items: center; /* me centra todos los elementos en el medio, siendo que display=flex lo que alinea son los elementos enel "eje Y" */
    justify-content: space-between; /* el espacio es maximo entre los elementos, pero sin espacio en bordes */
    background-color: rgb(23, 40, 195);
    padding: 2vh 6vw;
    text-align: center;
    /*padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;*/
}
header nav a{
    display: flex;
    color: white;
    text-decoration: none; /* le saco el subrayado a los hipervinculos que ya viene por defecto en el elemento a del css original que no se ve, porque es por defecto justamnente:letra en azul y subrayado */
    background-color: rgb(61, 113, 245);
    border-radius: 15% / 45%;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 3vh;
    transition: background-color 1s;
}
header nav a:hover{
    background-color: rgb(204, 250, 250);
    color: black;
}
nav{
display: flex;
gap: 30px; 
}
.btn-menu{
    display: none;
}
/* CONTENIDO */
main{
    background-color: rgb(204, 250, 250);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    align-items: center;
}
.anuncio{
    background-color: rgb(23, 40, 195);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    align-items: center;
    width: 25%;
    color: whitesmoke;
    border-radius: 30px;
    gap: 2vh;
    padding: 1vw;
    margin-right: 10vw;
}
.anuncio h2{
    font-size: 5vh;
}
.anuncio p{
    font-size: 3vh;
}
.formulario{
    background-color: white;
    width: 25%;
    height: 80%;
}
.formulario .decoracion{
    background-color: rgb(238, 246, 248);
    height: 2vh;
    margin-bottom: 1.5vh;
}
.formContainer{
    min-height: 57vh;/*equivale a 51.2 vh*/
}
.formulario .label{
    margin: 0% 5%;
    margin-bottom: 1%;
    height: 10%;
    color: rgb(137, 144, 146);
    font-weight: bolder;
    
}
.formulario .textBox{
    margin: 0 5%;
    margin-bottom: 5%;
    border: 3px solid rgb(228, 232, 233);
    height: 4vh;
    padding: 0;
}
.textBox input[type=text], input[type=email]{
    width: 100%;
    height: 100%;
    /*font-size: 4vh;*/
}
.textArea{
    margin: 0 5%;
    margin-bottom: 5%;
    border: 3px solid rgb(228, 232, 233);
    height: 20vh;
}
.textArea textarea{
    width: 100%;
    height: 100%;
}
.formContainer input[type=submit]{
    margin: 0 5%;
    width: 30%;
    height: 4vh;
    font-family: 'Kanit', sans-serif;
    font-size: 100%;
    color: rgb(137, 144, 146);
    background-color: rgb(223, 242, 245);
    border: 3px solid rgb(228, 232, 233);
    border-radius: 20% / 45%;
    font-weight: bolder;
    transition: background-color 1s;
}
.formContainer input[type=submit]:hover{
    background-color: rgb(23, 40, 195);
    color: whitesmoke;
}
.formulario .decoracionAbajo{
    background-color: rgb(238, 246, 248);
    height: 2vh;
    margin-top: 1.5vh;
}
/* PIE DE PAGINA */
footer {
    height: 10vh;
    display: flex;
    color: white;
    align-items: center;
    /* me centra todos los elementos en el medio, siendo que display=flex lo que alinea son los elementos enel "eje Y" */
    justify-content: space-between;
    /* el espacio es maximo entre los elementos, pero sin espacio en bordes */
    background-color: rgb(23, 40, 195);
    padding-left: 150px;
    padding-right: 150px;
    
}



    #footer_redes {
        display: flex;
        gap: 30px;
    }

    .bi-figma {
        height: 2vh;
        width: 1vw;
        margin: 0;
        background-color: white;
    }

    footer a {
        background-color: white;
        height: 2.5vh;
        width: 2.5vw;
        border-radius: 30%;
    }
/* RESPONSIVE */
@media screen and (max-width: 1200px){
    .anuncio h2{
        font-size: 3vw;
    }
    .anuncio p{
        font-size: 2vw;
    }  
}
@media screen and (max-width: 650px) {
    nav, #logo{
        display: none;
    }
    .lista-menu{
        display: none;
        list-style-type: none;
        text-align: center;
    }
    .lista-menu li{
        border: 1px solid blue;
        background-color: rgb(204, 250, 250);
    }
    .lista-menu li a{
        text-decoration: none;
        color: black;
        width: 100%;
    }
    .lista-menu li a:hover{
        background-color: rgb(23, 40, 195);
        color: whitesmoke;
    }
    .btn-menu{
        display: block;
    }
}
@media screen and (max-width: 450px){
    main{
        display: block;
    }
    .anuncio{
        width: 80%;
        margin: 5vh 5vh;
    }
    .anuncio h2{
        font-size: 6vw;
    }
    .anuncio p{
        font-size: 5vw;
    }
    .formulario{
        width: 80%;
        margin: 5vh 5vh;
    }
}
    